"<h5>The Health Benefits of Cacao</h5>
<p> Tbe crunchy cacao has an earthy taste that opens up your heart. This food of the gods contains flavinoids that help maintain healthy blood pressure and vascular flow, and promote overall heart health. As a result, cacao has been associated with improved energy metabolism and lower risk of heart disease.  I like to eat cacao beans before dancing, and they give a special crunch to the karma coins.  </p>"
