"<h5>The Health Benefits of Dark Chocolate</h5>
<p> Ah, dark chocolate. One of nature's finest pleasures! Not only is dark chocolate an essential part of any diet, but it's beneficial from a nutritional standpoint as well. High quality dark chocolate, like that used to make Karma Coins, is high in flavinoids. These flavinoids help maintain healthy blood pressure and vascular flow, and promote overall heart health. As a result, chocolate has been associated with improved energy metabolism and lower risk of heart disease.</p>"
