"<h5>The Health Benefits of Hemp Oil</h5>
<p> A healthy alternative to fish oil for a vegan diet, Hemp oil contains the perfect ratio of omega fatty acids 3, 6 and 9, which are crucial for circulation, cell growth and the body's immune system. Further, there's scientific evidence that hemp oil helps with eczema, asthma, heart disease and high blood pressure. Some recent studies even suggest that it can improve memory and relieve depression. Hemp oil doesn't stop there though. Its magnesium and zinc boost energy levels and regulate hormone balance. Wow!</p>"
