"<h5>The Health Benefits of Honey</h5>
<p> Not just a sweet treat, honey is a great alternative to other sugars due to it's abundance of micronutrients. Its hydrogen peroxide content makes it a natural anti-microbial, helping us fight gum disease and other oral infections. It also offers cancer-fighting anti-oxidants and there's even evidence that it helps remedy seasonal allergies. Sweet!
</p>"