"<h5>The Health Benefits of Oats</h5>
<p> Oats are super at fighting high cholesterol. Whole grain oats are one of the best sources of soluble fiber in the human diet, which, in addition to lowering cholesterol and regulating meal size, helps keep blood sugar levels under control. This glycemic traffic controller is a great source of energy, yet is also a superb choice in the fight against obesity and diabetes.
</p>"