"<h5>The Health Benefits of Pecans</h5>
<p> Pecans are a delicious part of Karma Coins, but they're also a healthy part. <a href='http://www.noble.org/ag/horticulture/pecanhealth/'>Studies</a> have shown that pecans lower LDL ('bad') cholesterol and raise HDL ('good') cholesterol. Frequent consumption of pecans and other nuts is associated with a lowered risk of sudden cardiac death and other coronary heart disease.</p>"

