"<h5>The Health Benefits of Vanilla</h5>
<p> This great flavoring agent is anti-carcinogenic, and pro-long-happy-life. Studies have revealed that vanilla’s anti-oxidant properties helps to battle against certain types of cancers. Vanilla is also extremely useful in fighting infections due to presence of components like Eugenol and Vanillin Hydroxybenzaldehyde in it. Those same properties make it a valuable sedative, that can even fight hypertension and reduce stress. Finally, Vanilla is stocked with potassium, calcium and phosphorus--minerals necessary for bone health and energy production. </p>"

