Thanks for buying the buddha.


<% if @purchase.purchase_url %>
You can view the status of your donation and purchase at
<% end %>

<a href="https://s3.amazonaws.com/karmagrove/BUDDHA.PDF"> Buddha on pdf </a>
