
    <form accept-charset="UTF-8" action="/user_confirmation" id="user_confirmation_form" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" value="✓" type="hidden"><input name="authenticity_token" value="79Vd3zqgXvzwkHOakJtmdRJTWds89JvvU6IX8nkFVfk=" type="hidden"></div>
  
        <div class="box new-typography">
          <p>
            <label for="user_accepted_terms">
              <input name="user[accepted_terms]" value="0" type="hidden"><input id="user_accepted_terms" name="user[accepted_terms]" value="1" type="checkbox">
              <strong>I have read, and agree to, the Envato marketplaces'
              <a href="/legal/marketplace" target="_blank">Terms &amp; Conditions</a>
              and
              <a href="legal/privacy" target="_blank">Privacy Policy</a>.</strong>
            </label>
          </p>
        </div>


        <p>Subscribe to the Envato Marketplaces via Email:</p>

        <div class="box new-typography">
          <p>
            <label for="user_subscribed_to_foxmail">
              <input name="user[subscribed_to_foxmail]" value="0" type="hidden"><input checked="checked" id="user_subscribed_to_foxmail" name="user[subscribed_to_foxmail]" value="1" type="checkbox">
              <strong>Newsletters — inspiration, ideas, news and your feedback.</strong>
            </label>
          </p>

          <p>
            <label for="user_subscribe_to_bundles">
              <input name="user[subscribe_to_bundles]" value="0" type="hidden"><input id="user_subscribe_to_bundles" name="user[subscribe_to_bundles]" value="1" type="checkbox">
              <strong>Offers — deals, offers and bundles.</strong>
            </label>
          </p>

          <p>
            <small>We hate spam too! If you don't find our emails useful you can unsubscribe.</small>
          </p>
        </div>

        <div class="form-submit">
          <button type="submit" class="btn-icon submit submit-button">All good, let's go!</button>
        </div>

  <input id="authenticity_token" name="authenticity_token" value="79Vd3zqgXvzwkHOakJtmdRJTWds89JvvU6IX8nkFVfk=" type="hidden">
</form>  