<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= @user.name %>!</h1>
    <p>We will do our best to send you updates regarding our donations for the month as well as any news we feel compelled to share.</p>
  </body>
</html>




