<h1> Thanks for subscribing.  <h1>

<h2>Is this your email address?</h2>

<h2> <%= @email %> </h2>

Update it below if you would like.
  <form id="signup-form" action="/users/email-subscribe/update" method="post">
    <input type="hidden" class="id" name="id" value="<%= @user.id %>"> </input>
    <input type="text" class="email" name="email" text="valid email" placeholder="<%= @email %>"> </input>
    <br />
    <input name="email-subscribe" type="submit" value="Update My Email">
    <br />
  </form>


<%= render "users/facebook_login" %>

<!-- ## TODO : Make this page redisplay email and give them option to update it... -->