<%- model_class = Purchase -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong> name:</strong></dt>
  <dd><%= @purchase.product.name %></dd>
  <dt><strong> description:</strong></dt>
  <dd><%= @purchase.product.description_display %></dd>
  <dt><strong> Price </strong></dt>
  <dd><%= @purchase.product.price %></dd>
</dl>

<% if @donation ## show the donation for their purchase %>


<% if @charity_ids  ## If there are charity ids on the purchase page and the user is signed in we ought to let them have option to change the charity at this point until it is paid... %>



<% end %> 