<% if @purchases and @user %>

Thanks for checking out the purchases of <%= @user.name %>

<h2> Purchases </h2>

<ul>
	<% @purchases.each do |purchase| %>

		<li> <%= purchase.product.name %> 
			<% if purchase.donation and purchase.donation.charity and @purchase.donation.charity.legal_name %>
			- <%= purchase.donation.charity.legal_name %> 
			<% end %>
		</li>
	<% end %>
</ul>	

<% end %>