<div class="call-to-action">
  <h1>
    Cultivate Your Karma
  </h1>
  <h2>
    Choose recipient of your profits
  </h2>

</div>
<img src="/batches/<%= params[:batch_id]%>/donations/new.svg"> </img>

<div class="short-url"> Visit this url to donate: <%= @short_url %> </div>