<br />

<div id="about-carousel" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
     <%=  link_to image_tag("photo1.jpg"), "/Get-Involved" %>
     <div class="carousel-caption">
      <p>Each batch of Karma coins is meticulously made with local superfood, and always prepared with love.</p>
    </div>
  </div>

  <div class="item">
    <%=  link_to image_tag("ocean.jpg"), "/Karma-Coin" %>
    <div class="carousel-caption">
      <p> Standing at the ocean's edge watching the sunrise and waves crashing </p>
    </div>
  </div>

  <div class="item">
    <%=  link_to image_tag("karmabar.jpg"), "/Karma-Coin" %>
    <div class="carousel-caption">
      <p> The superfoods' color reveals the vibrant life nourishing nutriet profile </p>
    </div>
  </div>


</div>

<!-- Controls -->
<a class="carousel-control left" href="#about-carousel" data-slide="prev">&lsaquo;
</a>
<a class="carousel-control right" href="#about-carousel" data-slide="next">&rsaquo;</a>
</div>

<script>
$(document).ready(function(){

  $('.carousel').carousel({
    pause: "hover",
    interval: 10000,
    wrap: true
  });


  $('.carousel').swiperight(function() {
    $(".carousel").carousel('prev');
  });

  $('.carousel').swipeleft(function() {
    $(".carousel").carousel('next');
  });

});
</script>

<br />