<div class="alert alert-info">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <p><strong>Email Invalid.</strong> Please enter a valid email address.</p>
</div>

<script>
$(function(){
  $(".close").click(function(){
    $(".alert").alert();
  });
});
</script>