<div id="backstretch-div"></div>


<script>
 $('#backstretch-div').backstretch([
      "<%= asset_path 'elephant_love.jpg' %>"
    , "<%= asset_path 'grey_bears_receipts_2013.jpg' %>"
    , "<%= asset_path 'photo1.jpg' %>"
    , "<%= asset_path 'photo2.jpg' %>"
  ], {duration: 5000, fade: 750});

 </script>