<!-- Call to Action Well -->
<div class="row">
    <div class="col-lg-12">
        <div class="well text-center">
            Eat well, Do good.  Every time you make a purchase you are voting for the world you wish to see continue.
            <b> Choose for yourself where our profits from the last event go - <a class="btn btn-default" href="/batches/<%= Batch.last.id =%>/donations/new">Choose</a> </b>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->