<div class="well well-lg">
 <h3>Sign Up for KarmaGrove.com Email Updates!</h3>
 <ul>

    <li> We will email you once per month showing what charities received donations </li>
    <li> We will update you no more than once per month aside from the monthly donation email </li>
    <li> We will never sell or share your email under any circumstances </li>

</ul>
<div id="error-spot"></div>

<form id="signup-form" action="/users/email-subscribe" method="post" class="form-inline">
  <div class="input-group input-group-lg">
   <span class="input-group-addon">Email Address:</span>
   <input type="text" class="email input-lg" name="email" text="valid email" placeholder=" email@example.com" id="signup-email-input">
 </input>


 <button name="email-subscribe" type="submit" class="btn btn-md btn-primary">
  <span class="glyphicon glyphicon-envelope"></span> Subscribe!
</button>

</div>

</form>

</div>
<script>

$(document).ready(function(){

  $('#signup-form').submit(function(event){

    var regEx = /[a-z0-9!#$%&'*+/=?^_{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/

    var userInp = $(".email").val()

    if (regEx.test(userInp))
    {
      console.log("signup successful")
    }
    else
    {
      event.preventDefault();

      var errorAlert = "<div class='alert alert-info'><a href='#'' class='close' data-dismiss='alert'>&times;</a><p><strong>Email Invalid.</strong> Please enter a valid email address.</p></div>"

      $("#error-spot").html(errorAlert)

      // alert("Please enter a valid email address and continue.")
    }

  });

});

</script>