<h2>  Interested in making Karma Coins? </h2>

<ol>

<li> Turn oven to 200 degrees </li>

<li> Mix all dry ingredients together and put on a pan <ul>
<li>3 cups oats, 1 cup hemp seeds, 1 cup wheat germ, 1/2 cup walnuts, 1/2 cup pecans </li>
</ul>
</li>

<li> Toss that pan in the oven </li>

<li> Put the 4 tablespoons of coconut oil into a large  pan at a simmer  </li>
<li> Add 1 cup of honey (or coconut sugar) to the coconut oil </li>
<li> Make sure it does not boil, but is merely simmering, stir frequently </li>
<li> Add vanilla (2tsp), molasses (1 tbsp), and salt (1 tsp) to pan </li>
<li> Open the oven and stir the oats / nuts / seed mixture </li>

<li> Simmer the coconut oil / honey mixture for 30 seconds to a minute </li>
<li> You are making Caramel.  It is delicate art.  Do not over do it taste burned karma coins </li>

<li> Take out the oven stuff and mix it into the pan </li>

<li> Turn off the stove.  Stir and get it consistent.  sometimes it helps to put a little dry ingredients at a time </li>
<li> Add 3 tbsp hemp oil after heat is off.  Add 1/2 cup Cacao nibs and 1 cup dried berries of your choice.  </li>
<li> stir it up til consistent then pour into 8*12 pan </li>
<li> Let is solidify at room temp or put into fridge.  When hard cut into squares and share good karma.  </li>
<li> Tweet an image of what you've made with hashtag #karmacoin or #karmabar </li>

<!-- ## TODO -add link to the image from my recipe book  -->

</ol>

<h3> Would you like to run your own bake sale benefitting charities in your community? </h3>
<!-- #TODO Click here to indicate interest (let's make this an href that we count number of clicks on to see next featues we ought to make... ) -->
<!-- how do you do a mailto?  -->


<p><a href="mailto:seeds@karmagrove.com?subject=Tell%20A%20Vision"> Send us a message and tell a vision of how you would support your community seeds@karmagrove.com </a></p>