<h1> Karma Coin Superfood Components </h1>
<br />
<table style="margin:20px;">
  <tr>
    <td style="padding-right:20px;">
      <ul>
        <li> <a class=".nutrition-pop" rel="popover" data-original-title="<h4>WHOLE GRAIN OATS</h4>" data-content=<%= render "about/nutrition_facts/oats"%>>Oats</a>                </li>
        <li> <a class=".nutrition-pop" rel="popover" data-original-title="<h4>PURE BEE HONEY</h4>" data-content=<%= render "about/nutrition_facts/honey"%>>Honey</a>                </li>
        <li> <a class=".nutrition-pop" rel="popover" data-original-title="<h4>HEMP SEED</h4>" data-content=<%= render "about/nutrition_facts/hemp_seeds"%>>Hemp Seed</a>           </li>
        <li> Wheat Germ          </li>
        <li> Dried Blueberries   </li>
        <li> Coconut Sugar       </li>
        <li> Dried Goji Berries  </li>
      </ul>
    </td>
    <td>
      <ul style="margin-top:-20px;">
        <li> Walnuts             </li>
        <li> Pecans              </li>
        <li> Dark Chocolate Chunk</li>
        <li> Hemp Oil            </li>
        <li> Molasses            </li>
        <li> Vanilla             </li>
      </ul>
    </td>
  </tr>
</table>

<br />

<style>

.popover{
  width:600px;
  height:230px;
}

</style>