<br />

<div id="about-carousel" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
     <%=  link_to image_tag("walnut_whole_half.jpg"), "/Get-Involved" %>
     <div class="carousel-caption">
      <p>Walnuts prevent a leading cause of death - cardiovascular disease </p>
    </div>
  </div>

  <div class="item">
    <%=  link_to image_tag("Goji-berries.jpg"), "/Karma-Coin-Facts" %>
    <div class="carousel-caption">
      <p> Goji Berries offer untold benefits and are a choice superfood for those in the know </p>
    </div>
  </div>

</div>

<!-- Controls -->
<a class="carousel-control left" href="#about-carousel" data-slide="prev">&lsaquo;
</a>
<a class="carousel-control right" href="#about-carousel" data-slide="next">&rsaquo;</a>
</div>

<script>
$(document).ready(function(){

  $('.carousel').carousel({
    pause: "hover",
    interval: 10000,
    wrap: true
  });


  $('.carousel').swiperight(function() {
    $(".carousel").carousel('prev');
  });

  $('.carousel').swipeleft(function() {
    $(".carousel").carousel('next');
  });

});
</script>

<br />