<h1> Get Involved </h1>
<ul>
  <li> <%= link_to "Buy some Karma Coins", "#{products_path}?name=Karma%20Coin"  %> or <%= link_to "anything on Karma Grove", products_path %> , give away the profits, and tell your friends </li>
  <li> Make some Karma Coins and nourish those you love </li>
  <li> Write some code - this website is open source and you can help </li>
  <li> Steal this idea and make it better or tell me how to improve </li>
</ul>