<h1> Get Involved </h1>
<ul>
  <li> <strong> Want hyperpalatable healthy snack? </strong><br /> <%= link_to "Buy some Karma Coins", "#{products_path}?name=Karma%20Coin"  %> or <%= link_to "anything on Karma Grove", products_path %> , give away the profits, and tell your friends </li>
  <li> <strong> Love to Cook? </strong> <br />
    <%= link_to "Make some Karma Coins", "/Karma-Coin-Recipe" %> and nourish those you love </li>
  <li> <strong> Know how to program? </strong>  <br />
       Write some code - this website is open source <%= link_to "Karma Grove Source Code", "www.github.com/jmontross/karmagrove" %></li>
</ul>


<!-- # todo make this and the grove.html.erb file a _partial so code is not duplicated -->
<h1> Plant yourself in the grove </h1>
<ul>
  <strong>
  <li> We will email you once per month showing what charities received donations </li>
  <li> We will update you no more than once per month aside from the monthly donation email </li>
  <li> We will never sell or share your email under any circumstances </li>
</strong>
</ul>
<form action="/users/email-subscribe" method="post">
<input type="text" class="email" name="email" text="valid email" value="your email"> </input>
<br />
<input name="email-subscribe" type="submit" value="Grow My Karma!">
<br />
<!-- TODO - put this js in somewwheres... only make it nil if val is "your email"  -->
<!-- $('.email').click(function(){ $('.email').val('') }); -->

</form>

