
<div class="hero">

</div>

<style>
/*hr {color:sienna;}*/
/*p {margin-left:20px;}*/

.hero {
  background-image:url('<%= asset_path("karma_grove_tree.jpg")%>');
  min-height:1000px;
  max-width:100%;
}



</style>


<div class="explain">
 We encourage the community of giving in Santa Cruz
<!--
 <%= image_tag("karma_grove_tree.jpg") =%>
 -->
 <br />
 When you buy within Karma Grove 50% of the profits are yours to give.
</div>


<div>
</div>