<p>
We believe we can make the world better while making tasty treats.  Joy coins - They are better than money.  The money you exchange for one goes right to a local charity of your choice.  This is your right for buying anything from karma grove.  We are also giving our portion to local charities.  Page coming soon on where donations are going....

</p>



<p> Some shots of the action.  Small batches 30 at a time.  Cooked on the stove and in the oven in the santa cruz mountains and in local santa cruz kitchens (soon)...
</p>
<br />
<p>
<%=  image_tag("photo1.jpg") %>
</p>
<p>
  <%=  image_tag("photo2.jpg") %>
</p>
