<p>
We believe we can make the world better while making tasty treats.  Karma coins - They are better than money.  The money you exchange for one goes right to a local charity of your choice.  This is your right for buying anything from karma grove.  We are also giving our portion to local charities.  Page coming soon on where donations are going....

If  you recently purchased a joy coin / granola bar from Cruzio feel free to email <a mailto="joshua.montross@gmail.com">joshua</a> and state where you'd like the money to go.  Feel free to email with suggestions as well.

</p>



<p> Some shots of the action.  Small batches 30 at a time.  Cooked on the stove and in the oven in the santa cruz mountains and in local santa cruz kitchens (soon)...
</p>
<br />
<p>
<%=  image_tag("photo1.jpg") %>
</p>
<p>
  <%=  image_tag("photo2.jpg") %>
</p>
