joy_coin_facts

For now this will have to do....  ingredient name followed by amount
<br />
<table>
<tr><td>Name</td> <td>Amount</td></tr>
<tr><td/>Oats                </td> <td>     248.9</td></tr>
<tr><td/>Hemp Seed          </td><td>     131.4</td></tr>
<tr><td/>Wheat Germ*         </td> <td>    77.3</td></tr>
<tr><td/>Honey               </td> <td>   157.2</td></tr>
<tr><td/>Coconut Sugar       </td> <td>     72</td></tr>
<tr><td/>Molasses (tbsp)     </td> <td>     1</td></tr>
<tr><td/>Vanilla (tsp)       </td> <td>    2 tsps</td></tr>
<tr><td/>Walnuts             </td> <td>    37.3</td></tr>
<tr><td/>Pecans              </td> <td>     36.6</td></tr>
<tr><td/>Blueberries         </td> <td>    73.5</td></tr>
<tr><td/>Goji Berries*       </td> <td>           54.7</td></tr>
<tr><td/>Hemp Oil (tbsp)     </td> <td>           3</td></tr>
<tr><td/>Dark Chocolate Chunks (cups)   1/2 cup</tr><td/>

</table>