<!--
can't decide if i like an image here...
<%= image_tag("karma_coin_hand.jpeg") %>
-->

<!-- TODO slider carousel showing ingredients that are pretty -->

<!-- Show nutrition of each ingredient individually -->
<!-- http://www.dragonherbs.com/prodinfo.asp?number=012 -->

<%= render "about/karma_coin_carousel" %>

<h1> Karma Coin Superfood Components </h1>
<br />
<table style="margin:20px;">
  <tr>
    <td style="padding-right:20px;">
      <ul>
        <li> Oats                </li>
        <li> Honey               </li>
        <li> Hemp Seed           </li>
        <li> Wheat Germ          </li>
        <li> Dried Blueberries   </li>
        <li> Coconut Sugar       </li>
        <li> Dried Goji Berries  </li>
      </ul>
    </td>
    <td>
      <ul style="margin-top:-20px;">
        <li> Walnuts             </li>
        <li> Pecans              </li>
        <li> Dark Chocolate Chunk</li>
        <li> Hemp Oil            </li>
        <li> Molasses            </li>
        <li> Vanilla             </li>
      </ul>
    </td>
  </tr>
</table>

<br />

<h2> <%= link_to "Want to buy one?", "/products?name=Karma Coin" %>   </h2>

<div class="nutrition-facts">
  <%= render "about/nutrition_facts"%>
</div>