<!--
can't decide if i like an image here...
<%= image_tag("karma_coin_hand.jpeg") %>
-->

<!-- TODO slider carousel showing ingredients that are pretty -->

<!-- Show nutrition of each ingredient individually -->
<!-- http://www.dragonherbs.com/prodinfo.asp?number=012 -->

<%= render "about/karma_coin_carousel" %>

<h1> Karma Coin Superfood Components </h1>
<ul>
  <li> Oats                </li>
  <li> Honey               </li>
  <li> Hemp Seed           </li>
  <li> Wheat Germ          </li>
  <li> Dried Blueberries   </li>
  <li> Coconut Sugar       </li>
  <li> Dried Goji Berries  </li>
  <li> Walnuts             </li>
  <li> Pecans              </li>
  <li> Dark Chocolate Chunk</li>
  <li> Hemp Oil            </li>
  <li> Molasses            </li>
  <li> Vanilla             </li>
</ul>

<br />

<h1> Ingredients Table </h1>

<br />

<table class="table table-hover table-condensed">
  <tr><td> <h4>Name</h4>                </td> <td><h4>Amount(grams)</h4></td></tr>
  <tr><td/>Oats                </td> <td>     248.9</td></tr>
  <tr><td/>Hemp Seed           </td><td>     131.4</td></tr>
  <tr><td/>Wheat Germ          </td> <td>    77.3</td></tr>
  <tr><td/>Honey               </td> <td>   157.2</td></tr>
  <tr><td/>Coconut Sugar       </td> <td>     72</td></tr>
  <tr><td/>Molasses (tbsp)     </td> <td>     1</td></tr>
  <tr><td/>Vanilla (tsp)       </td> <td>    2 tsps</td></tr>
  <tr><td/>Walnuts             </td> <td>    37.3</td></tr>
  <tr><td/>Pecans              </td> <td>     36.6</td></tr>
  <tr><td/>Blueberries         </td> <td>    73.5</td></tr>
  <tr><td/>Goji Berries        </td> <td>           54.7</td></tr>
  <tr><td/>Hemp Oil (tbsp)     </td> <td>           3</td></tr>
  <tr><td/>Dark Chocolate (cups)  <td>  1/2 cup </td> </tr>

</table>

<br />