// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.modal-dialog{
margin-bottom: 0px !important;
margin-top: 0px !important;
}

#backstretch-div{
width:100%;
height:500px;
}

.btn-primary:hover{
background-color: #128ff2 !important;
}

.btn-default:hover {
background-color: #f7f7f7 !important;
}

.carousel-control{
top: 50% !important;
font-size: 6em !important;
background: transparent !important;
border: transparent !important;
}

.carousel-inner img{
 min-height: 500px !important;
 min-width: 400px;
}

.btn-primary{
color: #ffffff !important;
}

a:hover, a:focus {
color: #0a6ebd;
text-decoration: underline;
}

a:active, a:hover {
outline: 0;
background-color: transparent !important;
}


.modal{
position: fixed !important;
top: 10% !important;
left: 30% !important;
overflow: auto !important;
margin-left: 0px !important;
width: auto !important;
bottom: initial !important;
right: initial !important;
}

#about-col-left{
margin-left: -1%;
}

#tree-sidebar{
margin-left: 0px;
padding-left: 3%;
padding-right: 1%;
margin-top: 1%;
}

.popover{
width:800px;
height:250px;
top: 550px !important;
}

.dict-head{
background-color: #E1EDFA;
}

#about-page-container{
text-align: justify;
margin-top: 20px;
}

ol.dict {
margin-left: 40px;
}

.owl-carousel .owl-item img {
height:auto;
width:100%;
display: block;
}


.owl-carousel .item {

}

.modal-backdrop.fade.in {
opacity: 0.2;
}

body {
font-size: small;
line-height: 1.4;
}
p {
margin: 0;
}

// Nutrition Facts Table

.performance-facts {
border: 1px solid black;
margin: 20px;
float: left;
width: 320px;
padding: 0.5rem;
table {
border-collapse: collapse;
}
}
.performance-facts__title {
font-weight: bold;
font-size: 2rem;
margin: 0 0 0.25rem 0;
}
.performance-facts__header {
border-bottom: 10px solid black;
padding: 0 0 0.25rem 0;
margin: 0 0 0.5rem 0;
p {
margin: 0;
}
}
.performance-facts__table {
width: 100%;
thead tr {
th, td {
border: 0;
}
}

th, td {
font-weight: normal;
text-align: left;
padding: 0.25rem 0;
border-top: 1px solid black;
white-space: nowrap;
}
td {
&:last-child {
text-align: right;
}
}
.blank-cell {
width: 1rem;
border-top: 0;
}
.thick-row {
th, td {
border-top-width: 5px;
}
}
}
.small-info {
font-size: 0.7rem;
}

.performance-facts__table--small {
@extend .performance-facts__table;
border-bottom: 1px solid #999;
margin: 0 0 0.5rem 0;
thead {
tr {
border-bottom: 1px solid black;
}
}
td {
&:last-child {
text-align: left;
}
}
th, td {
border: 0;
padding: 0;
}
}

.performance-facts__table--grid {
@extend .performance-facts__table;
margin: 0 0 0.5rem 0;
td {
&:last-child {
text-align: left;
&::before {
content: "•";
font-weight: bold;
margin: 0 0.25rem 0 0;
}
}
}
}

.text-center {
text-align: center;
}
.thick-end {
border-bottom: 10px solid black;
}
.thin-end {
border-bottom: 1px solid black;
}

// Ingredients Table

table.table-condensed {
width: 50%;
margin-left: 20px;
}

.table-header{
padding-left: 10px;
}

table.table-condensed tr > td:not(.table-header){
padding-left: 20px;
}

div.table-right{
float: right;
}

div.table-left{
margin-top:17px;
float:left;
}

div.table-bottom{
margin-left:20%;
}

div.table-container{
overflow:hidden;
min-width: 700px;
width:93%
}

h4.ingredients-table-label{
margin-left:60px;
}

p.nutrition-info{
clear:both;
margin-left: 20px;
}

#our_charities_nav_well h4{
  text-align: center;
  text-decoration: underline;
  font-size: 24px;
}

#our_charities_nav_well li a{
  text-align: center;
  font-size: 14px;
}

.check_panel img{
  margin: 0 auto;
}

#donations_page_container{
  font-family: sans-serif;
  font-size: 105%;
}

.donation_panel h3{
  text-align: center;
}

.col-lg-8.center-donation-panel-container{
  margin: 0px auto !important;
  float: none !important;
}

.image-panel{
  margin-top: 23px !important;
}

.image-panel-STE{
  margin-top: 23px !important;
}

.page-information p{
  font-size: 14px;
}

.other-ways-to-help p{
  font-size: 14px;
}

#home-get-involved-button{
  margin-right: auto;
  display: block;
  margin-left: auto;
  width: 50%;
}
